@import "tailwindcss";

@keyframes shimmer-ui {
  0% {
    background-position: calc(-100% - var(--shimmer-width)) 0;
  }
  100% {
    background-position: calc(100% + var(--shimmer-width)) 0;
  }
}

@utility animate-shimmer-ui {
  animation: shimmer-ui 3s linear infinite;
}

input[type='range'] {
  -webkit-appearance: none;
  appearance: none;
  height: 5px;
  border-radius: 9999px;
  outline: none;
  cursor: pointer;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: white;
  cursor: pointer;
  box-shadow: 0 0 6px rgba(0,0,0,0.3);
  transition: transform 0.3s;
}

input[type='range']::-webkit-slider-thumb:hover {
  transform: scale(1.15);
}

input[type='range']::-moz-range-thumb {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: white;
  border: none;
  cursor: pointer;
}

input[type='range']::-moz-range-progress {
  background: rgba(255,255,255,0.9);
  height: 3px;
  border-radius: 9999px;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}